.vscode
note.txt
**/node_modules
**/.DS_Store
danhdx/products-api/*
lanhnt/mobile-auto

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Angular
**/.angular/cache/

